.feed-entity-container {
	background: rgb(250,250,250);
	font-size: 16px;
	transition: border 0.25s ease;
	display: flex;
	text-decoration: none;
	color: black;
	margin: 3px 0;
	border-left: 7px solid transparent;
}

.feed-entity-container:hover {
	cursor: pointer;
	border-left: 7px solid #efdd8d;
}

.feed-entity-header {
	display: flex;
}

.feed-entity-pinned {
	margin-right: 10px;
	margin-top: 6px;
}

.feed-entity-type {
	margin-right: 10px;
	margin-top: 4px;
}

.feed-entity-title {
	padding: 0;
	margin: 0;
	margin-top: 3px;
	text-transform: capitalize;
	font-size: 18px;
	width: 50%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.feed-left-buff {
	padding: 10px;
	width: 85%;
}

.feed-right-buff {
	border-left: 3px solid rgb(200,200,200);
	padding: 10px;
	width: 15%;
	color: white;
	text-align: right;
	background-color: #356a20;
}

@media screen and (max-width: 780px) {
	.feed-left-buff {
		width: 65%;
	}
	
	.feed-right-buff {
		text-align: left;
		width: 35%;
	}
}

.feed-entity-grades {
	margin-top:5px;
	font-size: 14px;
	margin-right: 15px;
	margin-bottom: 5px;
}

.split {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.feed-entity-desc {
	word-wrap: break-word;
	padding: 10px;
	font-size: 14px;
	line-height: 1.5;
}

.feed-entity-footer {
	font-size: 12px;
	padding-top:5px;
	display: flex;
}

.feed-entity-date {
	width: 50%;
	text-align: left;
}

.feed-entity-author {
	text-transform: capitalize;
	margin-right: 15px;
	font-size: 14px;
}

.feed-entity-menu {
	background-color: rgb(234, 234, 234);
	border: 3px solid black;
	transition: all 0.5s ease;
	margin: 3px;
}