 @import url(//fonts.googleapis.com/css?family=Comfortaa);

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', 'cursive';
}

input, textarea {
	border-radius: none;
}

input:focus {
	border-radius: none;
}
