<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="sendToNode">
                    <match url="/api/*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
			<rule name="AngularJS Routes" stopProcessing="true">
				<match url=".*" />
				<conditions logicalGrouping="MatchAll">
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
				</conditions>
				<action type="Rewrite" url="/" />
			</rule>
        </rewrite>
    </system.webServer>
</configuration>