<configuration>
     <system.webServer>
	 	<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
				<match url="^server.js\/debug[\/]?" />
			</rule>
			<rule name="StaticContent">
				<action type="Rewrite" url="public{REQUEST_URI}"/>
			</rule>
			<rule name="DynamicContent">
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
				</conditions>
				<action type="Rewrite" url="server.js"/>
			</rule>
			<!-- <rules>
				<rule name="AngularJS Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
			</rules> -->
		</rewrite>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<remove segment="bin"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
		<httpErrors existingResponse="PassThrough" />
		<iisnode loggingEnabled="true" logDirectory="iisnode" watchedFiles="web.config;*.js"/>
  	</system.webServer>
</configuration>