.announcement-container {
	background-color: rgb(220, 220, 220);
	display: flex;
	height: -webkit-calc(100% - 60px);
	height:    -moz-calc(100% - 60px);
	height:         calc(100% - 60px);
	min-height: calc(100vh - 60px);
	padding-top: 60px;
	width:100vw;
	flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
	.announcement-container {
		flex-wrap: nowrap;
	}
}

.announcement-modules-enter {
	opacity: 0;
}

.announcement-modules-enter.announcement-modules-enter-active {
	opacity: 1;
	transition: 250ms;
}

.announcement-modules-leave {
	opacity: 1;
}

.announcement-modules-leave.announcement-modules-leave-active {
	opacity: 0;
	transition: 250ms;
}