.form {
	padding: 25px;
	text-align: center;
	display: block;
	border-radius: none;
}

.form-title, .form-author, .form-desc {
	width:80%;
	padding: 8px 10px;
	margin-bottom: 25px;
	outline: none;
	border: none;
	border-bottom: 3px solid black;
	background-color: transparent;
	font-size: 16px;
	font-family: 'comfortaa', 'cursive';
	transition: all 0.5s ease;
	border-radius: none;
}

.form-title:hover, .form-author:hover, .form-desc:hover {
	border-color: gold;
	border-radius: none;
}

.form-title:focus, .form-author:focus, .form-desc:focus {
	border-color: darkgreen;
	border-radius: none;
}

.form-desc {
	border: 3px solid black;
	height: 125px;
	resize: none;
	border-radius: none;
}

.form-create {
	border: 3px solid black;
	font-size: 18px;
	padding: 10px 10px;
	background-color: transparent;
	transition: 0.5s all ease;
	font-family: 'comfortaa', 'cursive';
	font-weight: 600;
	outline: none;
	width: 75%;
	border-radius: none;
}

.form-create:hover {
	border: 3px solid gold;
	cursor: pointer;
	background-color: darkgreen;
	color: white;
	border-radius: none;
}

.form-create:focus {
	transform: scale(1.1);
	border-radius: none;
}