.form {
	padding: 25px;
	text-align: center;
	display: block;
	border-radius: none;
}

.form-title, .form-author, .form-desc {
	width:80%;
	padding: 8px 10px;
	margin-bottom: 25px;
	outline: none;
	border: none;
	border-bottom: 3px solid black;
	background-color: transparent;
	font-size: 16px;
	font-family: 'comfortaa', 'cursive';
	transition: all 0.5s ease;
	border-radius: none;
}

.form-title:hover, .form-author:hover, .form-desc:hover {
	border-color: #efdd8d;
	border-radius: none;
}

.form-title {
	max-width: 500px;
}

.form-title:disabled, .form-desc:disabled {
	border: 3px solid black;
	background-color: gray;
	cursor: not-allowed;
}

.form-title:focus, .form-author:focus, .form-desc:focus {
	border-color: #37784f;
	border-radius: none;
}

.form-desc {
	border: 3px solid black;
	height: 30vh;
	min-height: 200px;
	resize: none;
	border-radius: none;
	white-space: pre-wrap;
}

.form-create {
	border: 3px solid black;
	font-size: 18px;
	padding: 10px 10px;
	background-color: transparent;
	transition: 0.5s all ease;
	font-family: 'comfortaa', 'cursive';
	font-weight: 600;
	outline: none;
	width: 300px;
	border-radius: none;
}

.form-create:hover {
	border: 3px solid #efdd8d;
	cursor: pointer;
	background-color: #37784f;
	color: white;
	border-radius: none;
}

.form-create:disabled {
	border: 3px solid black;
	cursor: not-allowed;
	background-color: gray;
	color: black
}

.form-create:focus {
	transform: scale(1.1);
	border-radius: none;
}