.module-container {
	margin: 25px;
	margin-right: 0;
	margin-bottom: 0;
	transition: 0.5s all ease;
}

.module-header {
	transition: 0.5s all ease;
	margin-bottom: 3px solid black;
	word-wrap: break-word;
	text-transform: capitalize;
}

.module-header {
	transition: 0.5s all ease;
	border-bottom: 3px solid black;
}

.module-title {
	font-weight: 400;
	text-align: center;
}

.module-body {
	display: block;
	background: rgb(250,250,250);
	width:100%;
	height: 100%;
}