.module-container {
	border: 3px solid black;
	border-radius: 10px;
	margin: 25px;
	transition: 0.5s all ease;
	background-color: rgb(234, 234, 234);
}

.module-container:hover {
	box-shadow: 0px 0px 7px 4px rgb(0,0,0, 0.3);
	border: 3px solid darkgreen;
}

.module-container:hover > .module-header {
	border-bottom: 3px solid darkgreen;
}

.module-container:hover > .module-header > .module-title {
	font-weight: 800;
}

.module-header {
	transition: 0.5s all ease;
	margin-bottom: 3px solid black;
	word-wrap: break-word;
}

.module-header {
	transition: 0.5s all ease;
	border-bottom: 3px solid black;
}

.module-title {
	font-weight: 400;
	text-align: center;
}