.navbar-container {
	max-width: 0;
	width: 180px;
	background-color: darkgreen;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	position: fixed;
	display: block;
	padding-top: 65px;
	margin-bottom: -65px;
	z-index: 1;
	border-right: 3px solid rgb(29, 66, 18);
	transition: max-width 0.5s ease;
}

.navbar-arrow {
	position: fixed;
	top: 50%;
	height: 35px;
	background-color: darkgreen;
	color: white;
	transition: 0.25s ease color;
	width: 30px;
	text-align: center;
	padding: 5px;
	z-index: 5;
	border-right: 3px solid rgb(29, 66, 18);
	border-top: 3px solid rgb(29, 66, 18);
	border-bottom: 3px solid rgb(29, 66, 18);
	transition: left 0.5s ease;
}

.navbar-arrow:hover {
	color: gold;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.navbar-container {
		max-width: 180px;
	}
}