.select-filter:hover .select-filter-options {
	cursor: pointer;
	max-height: 300px;
}

.select-filter:hover .select-filter-current {
	border-bottom: none;
	background-color: #efdd8d;
	color: block;
	cursor: pointer;
}

.select-dropdown-arrow {
	margin-top: 2px;
	margin-left: 7px;
}

.select-filter {
	padding: 5px;
	text-align: center;
	width: 115px;
	margin: 3px;
	margin-top:10px;
	display: none;
	z-index: 5;
	position: relative;
}

@media screen and (min-width: 768px) {
	.select-filter {
		display: block;
	}
}

.select-filter-current {
	width: 115px;
	height: 25px;
	padding-top: 5px;
	display: block;
	margin-bottom: -5px;
	text-transform: capitalize;
	border-bottom: none;
	transition: all 0.5s ease;
	background-color: rgb(220, 220, 220);
}

.select-filter-options {
	width: 115px;
	display: block;
	font-size: 16px;
	text-align: center;
	max-height: 0;
	transition: max-height 0.5s ease, border 0.5s ease;
	overflow: hidden;
	position: absolute;
	background-color: rgb(220, 220, 220);
	z-index: 4;
	margin-top:3px;
}

.select-filter-option {
	transition: 0.5s max-height ease;
	padding: 5px;
}

.select-filter-option:hover {
	color: rgb(250,250,250);
	background-color: #37784f;
	opacity: 0.8;
}