.action-bar {
	width: 100%;
	height: 50px;
	background-color: gold;
	border-bottom: 5px solid rgb(183, 169, 36);
	position: fixed;
	z-index: 2;
	display: flex;
	top: 0;
}

.application-name {
	margin: 0;
	padding: 0;
	padding-left: 25px;
	width: 100%;
	font-size: 28px;
	height: 50px;
	padding-top: 10px;
}

.settings {
	float: right;
	width: 50px;
	height: 50px;
	padding: 0px 7px;
	text-align: center;
	transition: all 0.25s;
}

.settings:hover {
	background-color: rgb(183, 169, 36);
}

.settings > i {
	padding-top: 8px;
	color: darkgreen;
}

.notifications {
	float: right;
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 0px 7px;
	transition: all 0.25s;
}

.notifications:hover {
	background-color: rgb(183, 169, 36);
}

.notifications > i {
	color: darkgreen;
	padding-top: 8px;
}