.active-container {
	background-color: rgb(220, 220, 220);
	display: flex;
	height: -webkit-calc(100vh - 60px);
	height:    -moz-calc(100vh - 60px);
	height:         calc(100vh - 60px);
	padding-top: 50px;
	width:100vw;
	flex-wrap: wrap;
}

.announcement-display {
	padding: 15px;
}

.announcement-display:after {
	clear: both;
}

.announcement-display-split {
	border: 2px solid black;
	margin: 25px 0;
}

.announcement-display-desc {
	display: block;
}

.announcement-display-grades, .announcement-display-date {
	float:left;
	text-transform: capitalize;
}

.announcement-display-type, .announcement-display-author {
	float:right;
	text-transform: capitalize;
}
