.active-container {
	background-color: rgb(220, 220, 220);
	display: flex;
	min-height: -webkit-calc(100vh - 60px);
	min-height:    -moz-calc(100vh - 60px);
	min-height:         calc(100vh - 60px);
	padding-top: 50px;
	width:100vw;
	flex-wrap: wrap;
}

.announcement-display {
	padding: 15px;
}

.announcement-display:after {
	clear: both;
}

.announcement-display-split {
	border: 2px solid black;
	margin: 25px 0;
}

.announcement-display-desc {
	display: block;
}

.announcement-display-type, .announcement-display-author {
	width: 50%;
	display: block;
	text-align: right;
	text-transform: capitalize;
	padding-top: 10px;
}

.announcement-display-grades, .announcement-display-date {
	width: 50%;
	display: block;
	padding-top: 10px;
}

.entry-author-container {
	display: flex;
}

@media screen and (max-width: 780px) {
	.announcement-display-grades, .announcement-display-date {
		width: 100%;
	}	
	.announcement-display-type, .announcement-display-author {
		width: 100%;
		text-align: left;
	}
	.entry-author-container {
		display: block;
	}
}