.active-container {
	display: flex;
	width: 100vw;
	height: -webkit-calc(100vh - 60px);
	height:    -moz-calc(100vh - 60px);
	height:         calc(100vh - 60px);
	padding-top: 60px;
	flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
	.active-container {
		padding-left: 200px;
		padding-top: 50px;
		width: -webkit-calc(100vw - 200px);
		width:    -moz-calc(100vw - 200px);
		width:         calc(100vw - 200px);
	}
}

.announcement-display {
	padding: 15px;
}

.announcement-display:after {
	clear: both;
}

.announcement-display-split {
	border: 2px solid black;
	margin: 25px 0;
}

.announcement-display-desc {
	display: block;
}

.announcement-display-grades, .announcement-display-date {
	float:left;
	text-transform: capitalize;
}

.announcement-display-type, .announcement-display-author {
	float:right;
	text-transform: capitalize;
}
