.feed-container {
	width: auto;
	height: 400px;
	margin: 10px;
	padding: 10px;
	overflow-y: scroll;
}

.feather-info {
	margin-top:10px;
	display: block;
}

.feather-enter {
	opacity: 0;
}

.feather-enter.feather-enter-active {
	opacity: 1;
	transition: 500ms;
}

.feather-leave {
	opacity: 1;
}

.feather-leave.feather-leave-active {
	opacity: 0;
	transition: 500ms;
}

.react-contextmenu {
	border: 3px solid black;
	background-color: rgb(234, 234, 234);
}

.react-contextmenu-item {
	border: 3px solid transparent;
	padding: 10px;
}

.react-contextmenu-item:hover {
	background-color: darkgreen;
	border: 3px solid gold;
	color: white;
	cursor: pointer;
}

.react-contextmenu-item:focus {
	outline: none;
}

.entity-context-menu-icon {
	margin-right: 5px;
}