.action-bar-navigation:hover {
	transform: none;
}

.action-bar-navlink {
	display: block;
	text-align: left;
	margin-left: 10px;
	margin: 5px 0;
	text-align: center;
	color:white;
	text-decoration: none;
	transition: 0.15s ease;
}

.action-bar-navlink:hover {
	color: #efdd8d;
}