.clear {
	border: 3px solid black;
	font-size: 14px;
	padding: 10px 15px;
	background-color: transparent;
	transition: 0.5s all ease;
	font-family: 'comfortaa', 'cursive';
	font-weight: 600;
	outline: none;
	height: 40px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 5px;
	background-color: rgb(202, 202, 202);
	display: none;
	border-radius: none;
}

@media screen and (min-width: 768px) {
	.clear {
		display: block;
	}
}

.clear:hover {
	border: 3px solid white;
	cursor: pointer;
	background-color: darkred;
	color: white;	
}

.clear:focus {
	border-radius: none;
}

.filter-container {
	justify-content: flex-end;
	width: 100%;
	display: flex;
}

.home-container {
	background-color: rgb(220, 220, 220);
	display: flex;
	height: -webkit-calc(100vh - 50px);
	height:    -moz-calc(100vh - 50px);
	height:         calc(100vh - 50px);
	padding-top: 50px;
	width:100vw;
	flex-wrap: wrap;
}

.nav-column {
	display: flex;
	width: 28%;
	flex-direction: column;
	height: 100%;
}

.nav-column .module-container:first {
	margin-top:25px;
}

.nav-column .module-container {
	margin-top:3px;
}

@media screen and (min-width: 768px) {
	.home-container {
		flex-wrap: nowrap;
	}
}

.create-announcement {
	display: block;
	margin-top: 12px;
	padding-top: 5px;
	width: 150px;
	height: 25px;
	text-align: center;
	background-color: #efdd8d;
	color: black;
	text-decoration: none;
	margin-right: auto;
	margin-left: 25px;
	transition: all 0.25s ease;
	border: 3px solid transparent;
}

.create-announcement:hover {
	border: 3px solid black;	
}

.create-announcement svg {
	margin-left: 5px;
}