.clear {
	border: 3px solid black;
	font-size: 14px;
	padding: 10px 15px;
	background-color: transparent;
	transition: 0.5s all ease;
	font-family: 'comfortaa', 'cursive';
	font-weight: 600;
	outline: none;
	height: 40px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 5px;
	background-color: rgb(202, 202, 202);
	display: none;
	border-radius: none;
}

@media screen and (min-width: 768px) {
	.clear {
		display: block;
	}
}

.clear:hover {
	border: 3px solid white;
	cursor: pointer;
	background-color: darkred;
	color: white;
}

.clear:focus {
	border-radius: none;
}

.home-container {
	display: flex;
	width: 100vw;
	height: -webkit-calc(100vh - 60px);
	height:    -moz-calc(100vh - 60px);
	height:         calc(100vh - 60px);
	padding-top: 60px;
	flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
	.home-container {
		padding-left: 200px;
		padding-top: 50px;
		width: -webkit-calc(100vw - 200px);
		width:    -moz-calc(100vw - 200px);
		width:         calc(100vw - 200px);
	}
}