.clear {
	border: 3px solid black;
	font-size: 14px;
	padding: 10px 15px;
	background-color: transparent;
	transition: 0.5s all ease;
	font-family: 'comfortaa', 'cursive';
	font-weight: 600;
	outline: none;
	height: 40px;
	margin-top: 15px;
	margin-right: 15px;
	background-color: rgb(202, 202, 202);
}

.clear:hover {
	border: 3px solid white;
	cursor: pointer;
	background-color: darkred;
	color: white;
}